---
title: The Brighton Beat Live
---
<section class="live">
    <%= partial 'partials/header' %>
    <div class="live-primary">
        <h1> The Brighton Beat Show Archive </h1>
        <small> * All shows stream/download for free * </small>
    </div>
        <div class="show-list">

            <ul>
                <% data.shows.shows.each do |f| %>
                    <li>
                        <a href=<%= f.link %>> <%= f.name %></a> - <span><%= f.type %></span>
                        <% if f.video %>
                            <% f.video.each_with_index do |v, i| %>
                                <span><a target="_blank"href=<%= v %>> Video <%if (f.video.length-1) != i %> | <%end%> </a></span>
                            <% end %>
                        <% end %>
                    </li>
                <% end %>
            </uL>



        </div>
    </section>
