---
title: The Brighton Beat Live
---
<%= partial "partials/header" %>      
<section class="live">
  <div class="live-primary">
    <h1> Studio Recordings</h1>
    <ul>
      <li><a href="https://thebrightonbeat.bandcamp.com/album/hear-and-now" target="blank">Hear and Now</a></li>
      <li><a href="https://thebrightonbeat.bandcamp.com/album/off-we-go" target="blank">Off We Go</a></li>
      <li><a href="https://thebrightonbeat.bandcamp.com/album/the-brighton-beat-lp" target="blank">The Brighton Beat LP</a></li>
      <li><a href="https://thebrightonbeat.bandcamp.com/album/2010-ep" target="blank">2010 EP</a></li>
    </ul> 
  </div>
  <div class="show-list">
    <h1> Live </h1>
    <small> * All shows stream/download for free * </small>    
    <ul>
      <% data.shows.shows.each do |f| %>
        <li>
          <a href=<%= f.link %>> <%= f.name %></a> - <span><%= f.type %></span>
          <% if f.video %>
            <% f.video.each_with_index do |v, i| %>
              <span><a target="_blank"href=<%= v %>> Video <%if (f.video.length-1) != i %> | <%end%> </a></span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
